.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.feature {
  margin-bottom: 2rem;
}

.featureImage {
  width: 100%;
  max-width: 220px;
  height: auto;
}

.readMore {
  display: inline-block;
  margin-top: 0.5rem;
  font-weight: 600;
}
