/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroVideoSection {
  margin: 0;
  padding: 0;
  height: 50vh;
  min-height: 380px;
  overflow: hidden;
  border-top: 8px solid #22252b;
  border-bottom: 8px solid #22252b;
  position: relative;
}

.heroVideo {
  width: 100%;
  height: auto;
  position: absolute;
  top: 20px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  min-height: 100%;
  min-width: 100%;
  object-fit: cover;
  display: block;
}
