/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #2e8555;
  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

.navbar-logo-link {
  display: flex;
  align-items: center;
  padding: 0 var(--ifm-navbar-item-padding-horizontal);
}

.navbar-logo {
  height: 32px;
  width: auto;
  display: block;
}

@media (max-width: 996px) {
  .navbar-logo-link {
    padding: var(--ifm-navbar-item-padding-vertical) 0;
  }

  .navbar-logo {
    height: 28px;
  }
}

.docusaurus-mermaid-container,
.docusaurus-mermaid-container .mermaid,
div .mermaid {
  display: block;
  background-color: #323f49 !important;
  border-radius: 4px;
  padding: 24px;
  color: #ffffff !important;
  text-align: center;
}

.docusaurus-mermaid-container svg,
.docusaurus-mermaid-container .mermaid svg,
div .mermaid svg {
  height: 100% !important;
}
